---
# roles/kube-packages/tasks/main.yml

- name: Remove old Kubernetes repo if exists
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/kubernetes.list
    state: absent

- name: Install base packages
  ansible.builtin.apt:
    name:
      - curl
      - gnupg
      - ca-certificates
    state: present
    update_cache: yes

- name: Add Kubernetes GPG key
  ansible.builtin.apt_key:
    url: https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key
    state: present

- name: Add Kubernetes repository
  ansible.builtin.apt_repository:
    repo: "deb https://pkgs.k8s.io/core:/stable:/v1.35/deb/ /"
    filename: kubernetes
    state: present
    update_cache: yes

- name: Install Kubernetes packages
  ansible.builtin.apt:
    name:
      - kubelet
      - kubeadm
      - kubectl
    state: present
    update_cache: yes
